@charset "UTF-8";
/*  PRINT + PASTELS  */
/*  by: Kibigo!      */
/*
  This theme combines offwhite greys with bright pastels for a faded
  yet distinctive look. Mastodon doesn't ship with this colour scheme,
  so we define it here if it hasn't already been defined.
*/
/*
  This stylesheet assigns the default values to SCSS variables used by
  the Laboratory frontend. You can browse this file to gather a sense
  for what customizations are available.
*/
/*  FONTS  */
/*
  Including font files is outside of the scope of this package.
  You should do that yourself by editing the home view.
*/
/*  BACKGROUNDS  */
/*
  These don't have to be plain colours if you don't want them to be.
*/
/*  COLOURS  */
/*  OPACITIES  */
#laboratory-instancequery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #dedbd9;
  background: linear-gradient(to top, #1f1a14 20%, #302f2b 80%);
  font-size: 42pt;
  line-height: 1.2;
  text-align: center; }
  #laboratory-instancequery code, #laboratory-instancequery pre {
    font-family: "Inconsolata", "Courier Prime", monospace; }
  #laboratory-instancequery #laboratory-instancequeryinput {
    margin: 42pt 0 21pt;
    font-family: "Inconsolata", "Courier Prime", monospace;
    font-size: 36pt; }
    #laboratory-instancequery #laboratory-instancequeryinput *.laboratory-username {
      color: #b8b3b0; }
      #laboratory-instancequery #laboratory-instancequeryinput *.laboratory-username::before {
        opacity: 0.65;
        content: "@"; }
    #laboratory-instancequery #laboratory-instancequeryinput input {
      display: inline-block;
      margin: 0;
      border: none;
      border-bottom: thick #dedbd9 solid;
      padding: 0;
      width: 360pt;
      color: #faf8f7;
      background-color: #1f1a14;
      font-size: inherit;
      font-family: inherit;
      text-align: center; }
      #laboratory-instancequery #laboratory-instancequeryinput input:invalid {
        color: #b8b3b0; }

*:root:root:root:root:root [hidden] {
  display: none; }

html, body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #302f2b;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 15pt;
  font-style: normal;
  font-weight: normal;
  font-synthesis: none;
  line-height: 1.4; }

#laboratory-ui {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  margin: 0;
  padding: 42pt 0 0;
  width: 100%;
  height: calc(100vh - 42pt);
  overflow: auto;
  background: #302f2b;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 15pt;
  font-style: normal;
  font-weight: normal;
  font-synthesis: none;
  line-height: 1.4; }
  @media (max-width: 480px) {
    #laboratory-ui {
      -ms-scroll-snap-type: mandatory;
      -webkit-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
      -ms-scroll-snap-destination: 0 0;
      -webkit-scroll-snap-destination: 0 0;
      scroll-snap-destination: 0 0;
      -ms-scroll-snap-points-x: repeat(100%);
      -webkit-scroll-snap-points-x: repeat(100%);
      scroll-snap-points-x: repeat(100%); } }
  #laboratory-ui::before, #laboratory-ui::after {
    display: block;
    width: calc(50% - 510pt);
    min-width: 1px;
    content: ""; }
  #laboratory-ui::before {
    margin-right: -1px; }
  #laboratory-ui::after {
    margin-left: -1px; }
  #laboratory-ui a[href] {
    color: inherit;
    text-decoration: none;
    transition: color .35s; }
    *[data-laboratory-reduce_motion] #laboratory-ui a[href] {
      transition: none; }
  #laboratory-ui code, #laboratory-ui pre {
    font-family: "Inconsolata", "Courier Prime", monospace; }
  #laboratory-ui label {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: small-caps; }
    #laboratory-ui label > span {
      overflow: hidden;
      text-overflow: ellipsis; }
      *[data-laboratory-simple] #laboratory-ui label > span, #laboratory-ui label > span:empty {
        display: none; }
  #laboratory-ui *.laboratory-idcard {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .2em .4em;
    padding: 0;
    height: 1em;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: 400; }
    #laboratory-ui *.laboratory-idcard a[href] {
      color: inherit; }
      :root:root:root #laboratory-ui *.laboratory-idcard a[href] {
        color: inherit; }
    #laboratory-ui *.laboratory-idcard *.laboratory-avatar {
      display: block;
      margin: 0 .2em 0;
      border-radius: .1em;
      height: 1em;
      width: 1em; }
    #laboratory-ui *.laboratory-idcard *.laboratory-displayname {
      display: block;
      font-size: .4em;
      line-height: 1.2; }
      #laboratory-ui *.laboratory-idcard *.laboratory-displayname:empty {
        text-align: center; }
        #laboratory-ui *.laboratory-idcard *.laboratory-displayname:empty::after {
          content: "———"; }
    #laboratory-ui *.laboratory-idcard *.laboratory-username {
      display: block;
      font-size: .4em;
      line-height: 1; }
  #laboratory-ui *.laboratory-displayname {
    font-weight: 700; }
    #laboratory-ui *.laboratory-displayname:empty::after {
      content: "———"; }
  #laboratory-ui *.laboratory-username {
    font-family: "Inconsolata", "Courier Prime", monospace;
    font-weight: 400; }
    #laboratory-ui *.laboratory-username::before {
      opacity: 0.65;
      content: "@"; }
  #laboratory-ui *.laboratory-buttoncontainer {
    cursor: pointer; }
    #laboratory-ui *.laboratory-buttoncontainer.laboratory-buttoncontainer--disabled {
      cursor: not-allowed; }
  #laboratory-ui *.laboratory-button {
    display: inline-block;
    flex: none;
    margin: 0 .4em;
    border: none;
    border-radius: .125em;
    padding: .2em .25em;
    color: #faf8f7;
    background-color: #57534c;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    transition: color .5s, background-color .5s; }
    #laboratory-ui *.laboratory-button:hover {
      color: #dedbd9;
      background-color: #1f1a14; }
    #laboratory-ui *.laboratory-button[disabled], #laboratory-ui *.laboratory-button[disabled]:hover {
      margin: -1px calc(.4em - 1px);
      border: 1px #57534c solid;
      color: inherit;
      background-color: transparent;
      cursor: not-allowed; }
    *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-button {
      transition: none; }
    #laboratory-ui *.laboratory-button.laboratory-button--minimal {
      margin: 0 -.375em 0 .25em;
      padding: .1em 0;
      color: inherit;
      background-color: transparent; }
      #laboratory-ui *.laboratory-button.laboratory-button--minimal[disabled] {
        margin: 0 .2em;
        border: none;
        cursor: not-allowed; }
      [data-laboratory-simple] #laboratory-ui *.laboratory-button.laboratory-button--minimal {
        margin: 0 .25em; }
  #laboratory-ui *.laboratory-textbox {
    position: relative;
    margin: 0;
    border: thin #948d87 solid;
    border-radius: 7pt;
    padding: 12.15pt 18pt;
    outline: none;
    box-shadow: none;
    overflow: auto;
    resize: none;
    color: #1f1a14;
    background-color: #faf8f7;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    white-space: pre-wrap;
    appearance: none; }
  #laboratory-ui *.laboratory-textbox[aria-label]::before {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    opacity: 0;
    color: #948d87;
    font-weight: 300;
    text-align: center;
    user-select: none;
    pointer-events: none;
    transition: opacity .25s;
    content: attr(aria-label); }
  #laboratory-ui *.laboratory-textbox[aria-label].laboratory-textbox--empty:not(:focus)::before {
    opacity: 1; }
  #laboratory-ui *.laboratory-toggle {
    margin: 0 .5em;
    border: 0;
    padding: 0;
    font-size: inherit;
    line-height: 1.4;
    cursor: pointer; }
  #laboratory-ui *.laboratory-toggle-label {
    flex: auto;
    margin: 0 .5em;
    width: calc(50% - 2em);
    font-variant: small-caps;
    transition: opacity .25s; }
    *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle-label {
      transition: none; }
  #laboratory-ui *.laboratory-toggle-label-off {
    text-align: right;
    opacity: 1; }
  #laboratory-ui *.laboratory-toggle-label-on {
    text-align: left;
    opacity: 0.4; }
  #laboratory-ui *.laboratory-toggle--checked *.laboratory-toggle-label-off {
    opacity: 0.4; }
  #laboratory-ui *.laboratory-toggle--checked *.laboratory-toggle-label-on {
    opacity: 1; }
  #laboratory-ui *.laboratory-toggle--disabled, #laboratory-ui *.laboratory-toggle--checked.laboratory-toggle--disabled {
    cursor: not-allowed; }
    #laboratory-ui *.laboratory-toggle--disabled *.laboratory-toggle-label, #laboratory-ui *.laboratory-toggle--checked.laboratory-toggle--disabled *.laboratory-toggle-label {
      opacity: 0.4; }
    #laboratory-ui *.laboratory-toggle--disabled *.laboratory-toggle-track, #laboratory-ui *.laboratory-toggle--disabled *.laboratory-toggle-thumb, #laboratory-ui *.laboratory-toggle--checked.laboratory-toggle--disabled *.laboratory-toggle-track, #laboratory-ui *.laboratory-toggle--checked.laboratory-toggle--disabled *.laboratory-toggle-thumb {
      background: transparent;
      transition: background-color 0.25s; }
      *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle--disabled *.laboratory-toggle-track, *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle--disabled *.laboratory-toggle-thumb, *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle--checked.laboratory-toggle--disabled *.laboratory-toggle-track, *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle--checked.laboratory-toggle--disabled *.laboratory-toggle-thumb {
        transition: none; }
  #laboratory-ui .laboratory-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  #laboratory-ui *.laboratory-toggle-track {
    display: inline-block;
    flex: none;
    position: relative;
    margin: .15em 0;
    width: 2em;
    height: 1em;
    padding: 0;
    border: 1px #faf8f7 solid;
    border-radius: .5em;
    color: #57534c;
    background-color: #faf8f7;
    font-size: 1.2em;
    line-height: 1;
    user-select: none;
    transition: all 0.25s ease; }
    *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle-track {
      transition: none; }
  #laboratory-ui *.laboratory-toggle:hover:not(.laboratory-toggle--disabled) *.laboratory-toggle-track, #laboratory-ui *.laboratory-toggle.laboratory-toggle--focus *.laboratory-toggle-track {
    background-color: #faf8f7; }
    *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle:hover:not(.laboratory-toggle--disabled) *.laboratory-toggle-track, *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle.laboratory-toggle--focus *.laboratory-toggle-track {
      background-color: #faf8f7; }
  #laboratory-ui *.laboratory-toggle--checked *.laboratory-toggle-track {
    border-color: #1f1a14;
    color: #b8b3b0;
    background-color: #1f1a14; }
  #laboratory-ui *.laboratory-toggle.laboratory-toggle--checked:hover:not(.laboratory-toggle--disabled) *.laboratory-toggle-track, #laboratory-ui *.laboratory-toggle.laboratory-toggle--checked.laboratory-toggle--focus *.laboratory-toggle-track {
    background-color: #1f1a14; }
    *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle.laboratory-toggle--checked:hover:not(.laboratory-toggle--disabled) *.laboratory-toggle-track, *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle.laboratory-toggle--checked.laboratory-toggle--focus *.laboratory-toggle-track {
      background-color: #1f1a14; }
  #laboratory-ui *.laboratory-toggle-track-check {
    position: absolute;
    height: 1em;
    top: 0;
    bottom: 0;
    left: .1875em;
    margin: auto;
    font-size: .675em;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.25s ease; }
    *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle-track-check {
      transition: none; }
  #laboratory-ui *.laboratory-toggle--checked *.laboratory-toggle-track-check {
    opacity: 1; }
  #laboratory-ui *.laboratory-toggle-track-x {
    position: absolute;
    height: 1em;
    top: 0;
    bottom: 0;
    right: .1875em;
    margin: auto;
    font-size: .675em;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.25s ease; }
    *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle-track-x {
      transition: none; }
  #laboratory-ui *.laboratory-toggle--checked *.laboratory-toggle-track-x {
    opacity: 0; }
  #laboratory-ui *.laboratory-toggle-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    border: thin solid;
    border-color: inherit;
    border-radius: .5em;
    background-color: #57534c;
    box-sizing: border-box;
    transition: all 0.25s ease; }
    *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-toggle-thumb {
      transition: none; }
  #laboratory-ui *.laboratory-toggle--checked *.laboratory-toggle-thumb {
    left: 1em;
    background-color: #b8b3b0; }

#laboratory-ui #laboratory-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 31.5pt;
  margin: 0;
  padding: 5.25pt 30pt;
  font-size: 15pt;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  color: #302f2b;
  background-color: rgba(250, 248, 247, 0.95); }
  #laboratory-ui #laboratory-header:before, #laboratory-ui #laboratory-header:after {
    display: block;
    width: calc(50% - 495pt);
    content: ""; }
  #laboratory-ui #laboratory-header h1 {
    display: inline;
    flex: auto;
    margin: 0 auto 0 0;
    padding: 0;
    overflow: hidden;
    font-size: 22.5pt;
    font-weight: 900;
    text-transform: none;
    text-decoration: underline;
    text-overflow: ellipsis; }
  #laboratory-ui #laboratory-header a[href] {
    color: inherit; }

#laboratory-ui *.laboratory-column {
  display: block;
  position: relative;
  flex: 250pt 1 1;
  margin: 21pt 10pt 42pt;
  padding: 42pt 10pt 10.5pt;
  max-width: 300pt;
  min-width: 225pt;
  color: #dedbd9;
  background-color: rgba(31, 26, 20, 0.95); }
  @media (max-width: 480px) {
    #laboratory-ui *.laboratory-column {
      flex: none;
      margin: 7pt 5pt;
      padding-top: 52.5pt;
      width: calc(100vw - 30pt);
      max-width: none;
      min-width: 0; } }
  *[data-laboratory-simple] #laboratory-ui *.laboratory-column {
    padding-top: 10.5pt; }
  #laboratory-ui *.laboratory-column a[href] {
    color: #faf8f7; }
    #laboratory-ui *.laboratory-column a[href]:hover {
      color: #dedbd9; }
#laboratory-ui *.laboratory-heading {
  display: block;
  position: absolute;
  top: -10.5pt;
  left: -10pt;
  margin: 0;
  padding: 7pt 5pt 7pt;
  width: calc(100% - 10pt);
  height: 28pt;
  overflow: hidden;
  white-space: nowrap;
  color: #302f2b;
  background-color: #faf8f7;
  font-size: 20pt;
  font-weight: 400;
  font-variant: small-caps;
  line-height: 28pt;
  text-overflow: ellipsis; }
  @media (max-width: 480px) {
    #laboratory-ui *.laboratory-heading {
      top: 0;
      left: 0; } }
  *[data-laboratory-simple] #laboratory-ui *.laboratory-heading {
    top: -20pt;
    left: -20pt;
    width: 32pt;
    color: #faf8f7;
    background: transparent; }
    *[data-laboratory-simple] #laboratory-ui *.laboratory-heading *:not(:first-child) {
      display: none; }
  #laboratory-ui *.laboratory-heading i.fa:first-child {
    margin-right: 5pt;
    width: 32pt; }
#laboratory-ui *.laboratory-posts {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }
#laboratory-ui *.laboratory-columnnav {
  display: block;
  padding: 21pt 0; }
  #laboratory-ui *.laboratory-columnnav a[href] {
    display: block;
    margin: 0 0 7pt;
    padding: 7pt 5pt 7pt;
    height: 28pt;
    overflow: hidden;
    white-space: nowrap;
    color: #1f1a14;
    background-color: #dedbd9;
    font-size: 20pt;
    font-weight: 400;
    line-height: 28pt;
    text-overflow: ellipsis;
    transition: margin .35s ease-in-out, color .35s, background-color .35s; }
    #laboratory-ui *.laboratory-columnnav a[href]:hover {
      margin-left: 5pt;
      margin-right: -5pt;
      color: #302f2b;
      background-color: #faf8f7; }
      *[data-laboratory-reduce_motion] #laboratory-ui *.laboratory-columnnav a[href]:hover {
        margin-left: 0;
        margin-right: 0;
        transition: none; }
    #laboratory-ui *.laboratory-columnnav a[href] i.fa:first-child {
      margin-right: 5pt;
      width: 32pt; }
#laboratory-ui *.laboratory-columnfooter {
  display: block;
  font-size: 12pt;
  text-align: center; }
  #laboratory-ui *.laboratory-columnfooter nav a[href] {
    display: inline-block;
    margin: 0 .5em; }
#laboratory-ui #laboratory-notifications {
  background-color: rgba(31, 26, 20, 0.4); }
  *[data-laboratory-no_transparency] #laboratory-ui #laboratory-notifications {
    background-color: #1f1a14; }
  #laboratory-ui #laboratory-notifications *.laboratory-heading, #laboratory-ui #laboratory-notifications *.laboratory-posts {
    opacity: 0.9; }
    *[data-laboratory-no_transparency] #laboratory-ui #laboratory-notifications *.laboratory-heading, *[data-laboratory-no_transparency] #laboratory-ui #laboratory-notifications *.laboratory-posts {
      opacity: 1; }
#laboratory-ui *.laboratory-status {
  display: block;
  margin: 0 0 7pt;
  padding: 7pt 5pt 7pt;
  overflow: hidden;
  color: #1f1a14;
  background-color: #dedbd9;
  text-overflow: ellipsis;
  transition: color .5s, background-color .5s; }
  #laboratory-ui *.laboratory-status.laboratory-status--highlighted {
    color: #302f2b;
    background-color: #faf8f7; }
    #laboratory-ui *.laboratory-status.laboratory-status--highlighted a[href] {
      color: #75706a; }
      #laboratory-ui *.laboratory-status.laboratory-status--highlighted a[href]:hover {
        color: inherit; }
  #laboratory-ui *.laboratory-status a[href] {
    color: #57534c; }
    #laboratory-ui *.laboratory-status a[href]:hover {
      color: inherit; }
  #laboratory-ui *.laboratory-status aside {
    margin: -7pt -5pt 7pt;
    padding: 7pt 10pt;
    color: #b8b3b0;
    background-color: #57534c;
    font-size: 12pt;
    font-weight: 300; }
    #laboratory-ui *.laboratory-status aside::after {
      content: ":"; }
    #laboratory-ui *.laboratory-status aside a[href] {
      color: #dedbd9; }
      #laboratory-ui *.laboratory-status aside a[href]:hover {
        color: inherit; }
  #laboratory-ui *.laboratory-status header {
    margin: 0 0 7pt; }
    #laboratory-ui *.laboratory-status header time {
      float: right;
      font-size: 12pt;
      font-weight: 300; }
  #laboratory-ui *.laboratory-status *.laboratory-idcard {
    font-size: 30pt;
    margin: 0 .2em 0 0; }
  #laboratory-ui *.laboratory-status footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 7pt -5pt -7pt;
    border-top: thin #948d87 solid;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    text-transform: uppercase;
    font-size: 11pt; }
    #laboratory-ui *.laboratory-status footer *.laboratory-buttoncontainer {
      flex: auto;
      margin: 0;
      padding: 7pt 5pt;
      color: #57534c;
      background-color: #faf8f7;
      transition: color .5s, background-color .5s; }
      *[data-reduce_motion] #laboratory-ui *.laboratory-status footer *.laboratory-buttoncontainer {
        transition: none; }
      #laboratory-ui *.laboratory-status footer *.laboratory-buttoncontainer:hover {
        color: #1f1a14;
        background-color: #b8b3b0; }
      #laboratory-ui *.laboratory-status footer *.laboratory-buttoncontainer + .laboratory-buttoncontainer {
        border-left: thin #948d87 solid; }
    #laboratory-ui *.laboratory-status footer *.laboratory-unboostbutton, #laboratory-ui *.laboratory-status footer *.laboratory-unhighlightbutton {
      color: #faf8f7;
      background-color: #302f2b; }
      #laboratory-ui *.laboratory-status footer *.laboratory-unboostbutton:hover, #laboratory-ui *.laboratory-status footer *.laboratory-unhighlightbutton:hover {
        color: #dedbd9;
        background-color: #1f1a14; }
    #laboratory-ui *.laboratory-status footer *.laboratory-noboostbutton, #laboratory-ui *.laboratory-status footer *.laboratory-noboostbutton:hover {
      color: inherit;
      background-color: transparent; }
#laboratory-ui *.laboratory-statusContent p {
  margin: 0;
  padding: 0 10pt;
  text-align: left;
  white-space: pre-wrap;
  hyphens: auto; }
  #laboratory-ui *.laboratory-statusContent p + p {
    text-indent: 15pt; }
  #laboratory-ui *.laboratory-statusContent p a[href] {
    hyphens: none;
    text-decoration: underline;
    text-decoration-style: dashed; }

#laboratory-ui #laboratory-module {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 100; }
  *[data-laboratory-reduce_motion] #laboratory-ui #laboratory-module[data-laboratory-dismiss] {
    display: none; }
  #laboratory-ui #laboratory-module[data-laboratory-dismiss] #laboratory-curtain {
    animation: laboratorycurtainfadeout .5s both; }
    *[data-laboratory-no_transparency] #laboratory-ui #laboratory-module[data-laboratory-dismiss] #laboratory-curtain, *[data-laboratory-reduce_motion] #laboratory-ui #laboratory-module[data-laboratory-dismiss] #laboratory-curtain {
      display: none;
      animation: none; }
  #laboratory-ui #laboratory-module[data-laboratory-dismiss] main {
    animation: laboratorymodulefadeout .5s both; }
    *[data-laboratory-no_transparency] #laboratory-ui #laboratory-module[data-laboratory-dismiss] main:not(#laboratory-composer), *[data-laboratory-reduce_motion] #laboratory-ui #laboratory-module[data-laboratory-dismiss] main {
      display: none;
      animation: none; }
  #laboratory-ui #laboratory-module[data-laboratory-dismiss] #laboratory-composer {
    animation: laboratorymoduleslideout .5s ease-in both; }
    *[data-laboratory-reduce_motion] #laboratory-ui #laboratory-module[data-laboratory-dismiss] #laboratory-composer {
      animation: none; }
  #laboratory-ui #laboratory-module a[href] {
    color: #1f1a14; }
#laboratory-ui #laboratory-curtain {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #302f2b;
  opacity: 0.35;
  cursor: default;
  animation: laboratorycurtainfadein .5s both;
  z-index: 101; }
  *[data-laboratory-no_transparency] #laboratory-ui #laboratory-curtain {
    opacity: 1;
    animation: none; }
  *[data-laboratory-reduce_motion] #laboratory-ui #laboratory-curtain {
    animation: none; }
#laboratory-ui main {
  display: block;
  position: relative;
  margin: 63pt auto;
  border-radius: 5pt;
  padding: 21pt;
  width: calc(100% - 42pt);
  max-width: 483pt;
  overflow: auto;
  color: #302f2b;
  background-color: #dedbd9;
  box-shadow: 0 0 3.75pt -1.25pt #1f1a14;
  font-size: 18pt;
  font-weight: 300;
  line-height: 1.35;
  animation: laboratorymodulefadein .5s both;
  z-index: 200; }
  @media (max-width: 480px) {
    #laboratory-ui main {
      margin: 21pt auto; } }
  *[data-laboratory-no_transparency] #laboratory-ui main {
    animation: none; }
  *[data-laboratory-reduce_motion] #laboratory-ui main {
    animation: none; }
  #laboratory-ui main aside {
    position: relative;
    margin: -21pt -21pt 0;
    border: none;
    border-bottom: thin #75706a solid;
    padding: 21pt;
    font-size: 15pt;
    font-weight: 400;
    line-height: 1.4;
    color: #1f1a14;
    background: #b8b3b0; }
  #laboratory-ui main *:not(aside) ~ aside {
    margin: 0 -21pt -21pt;
    border: none;
    border-top: thin #75706a solid;
    padding: 21pt; }
  #laboratory-ui main p {
    margin: 0;
    text-align: left;
    white-space: pre-wrap; }
    #laboratory-ui main p + p {
      margin-top: 24.3pt; }
#laboratory-ui #laboratory-composer {
  animation: laboratorymoduleslidein .5s ease-in-out both; }
  *[data-laboratory-reduce_motion] #laboratory-ui #laboratory-composer {
    animation: none; }
  #laboratory-ui #laboratory-composer > header {
    display: flex;
    margin: 0 0 9pt;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    #laboratory-ui #laboratory-composer > header *.laboratory-idcard {
      margin: 0 auto 0 0;
      font-size: 37.5pt; }
  #laboratory-ui #laboratory-composer > footer {
    display: flex;
    margin: 9pt 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase; }
  #laboratory-ui #laboratory-composer *.laboratory-button {
    font-size: inherit; }
#laboratory-ui #laboratory-composertextbox {
  height: 128pt; }
  @media (max-width: 480px) {
    #laboratory-ui #laboratory-composertextbox {
      height: 84pt; } }
#laboratory-ui #laboratory-composeroptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-height: 84pt; }
  *[data-laboratory-simple] #laboratory-ui #laboratory-composeroptions {
    display: block;
    text-align: center; }
  @media (max-width: 480px) {
    #laboratory-ui #laboratory-composeroptions {
      display: block;
      text-align: center; } }
#laboratory-ui #laboratory-postoptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: auto;
  padding-right: 21pt;
  width: calc(50% - 42pt); }
  @media (max-width: 480px) {
    #laboratory-ui #laboratory-postoptions {
      display: block;
      padding-bottom: 10.5pt;
      padding-right: 0;
      width: auto; } }
  *[data-laboratory-simple] #laboratory-ui #laboratory-postoptions {
    display: inline;
    padding: 0;
    width: auto;
    text-align: center; }
#laboratory-ui #laboratory-hideoptions {
  display: block;
  flex: auto;
  border-left: thin #75706a solid;
  padding-left: 21pt;
  width: calc(50% - 42pt); }
  @media (max-width: 480px) {
    #laboratory-ui #laboratory-hideoptions {
      display: block;
      border-top: thin #75706a solid;
      border-left: none;
      padding-top: 10.5pt;
      padding-left: 0;
      width: auto; } }
  *[data-laboratory-simple] #laboratory-ui #laboratory-hideoptions {
    display: inline;
    border: none;
    padding: 0;
    width: auto; }
  #laboratory-ui #laboratory-hideoptions > input[type="text"] {
    display: block;
    margin: 10.5pt 0;
    border: thin #75706a solid;
    padding: 0 7.5pt;
    width: calc(100% - 15pt);
    height: 0;
    overflow: auto;
    resize: none;
    color: #1f1a14;
    background-color: #dedbd9;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: padding .5s, height .5s, visibility .5s, opacity .5s ease-in; }
    *[data-laboratory-reduce_motion] #laboratory-ui #laboratory-hideoptions > input[type="text"] {
      transition: none; }
  #laboratory-ui #laboratory-hideoptions > *.laboratory-toggle--checked ~ input[type="text"] {
    padding: 5.25pt 7.5pt;
    height: 21pt;
    visibility: visible;
    opacity: 1; }
@media (max-width: 480px) {
  #laboratory-ui #laboratory-account {
    text-align: center; } }
#laboratory-ui #laboratory-account header {
  display: block;
  margin: -21pt -21pt 0;
  padding: 0;
  height: 126pt;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #b8b3b0; }
#laboratory-ui #laboratory-account *.laboratory-idcard {
  margin: .2em 0 .4em;
  font-size: 42pt; }
  #laboratory-ui #laboratory-account *.laboratory-idcard *.laboratory-avatar {
    margin: -1em .25em 0 0;
    height: 2em;
    width: 2em; }
#laboratory-ui #laboratory-account *.laboratory-buttoncontainer {
  float: right;
  margin: 9pt 0; }
  @media (max-width: 480px) {
    #laboratory-ui #laboratory-account *.laboratory-buttoncontainer {
      float: none;
      font-size: 15pt; } }
#laboratory-ui #laboratory-account footer {
  display: block;
  margin: 9pt -21pt -21pt;
  border-top: thin #948d87 solid;
  padding: 9pt;
  color: #75706a;
  background: #faf8f7; }
  @media (max-width: 480px) {
    #laboratory-ui #laboratory-account footer {
      padding: 9pt 0; } }
  #laboratory-ui #laboratory-account footer table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    font-size: 15pt;
    line-height: 1.4;
    text-align: right; }
    #laboratory-ui #laboratory-account footer table tr {
      margin: 0;
      border: none;
      padding: 0; }
    #laboratory-ui #laboratory-account footer table td {
      margin: 0;
      border: none;
      padding: 0 27pt; }
      @media (max-width: 480px) {
        #laboratory-ui #laboratory-account footer table td {
          padding: 0 9pt; } }
      #laboratory-ui #laboratory-account footer table td + td {
        border-left: thin #948d87 solid; }
      #laboratory-ui #laboratory-account footer table td b {
        display: block;
        font-size: 21pt;
        line-height: 1; }

@keyframes laboratorycurtainfadein {
  from {
    opacity: 0; }
  to {
    opacity: 0.35; } }
@keyframes laboratorycurtainfadeout {
  from {
    opacity: 0.35; }
  to {
    opacity: 0; } }
@keyframes laboratorymodulefadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes laboratorymodulefadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes laboratorymoduleslidein {
  from {
    top: 100vh; }
  to {
    top: 0; } }
@keyframes laboratorymoduleslideout {
  from {
    bottom: 0; }
  20% {
    bottom: -42pt; }
  to {
    bottom: 150vh; } }
