@charset "UTF-8";

html, body {
  background-color: $laboratory-bgColor;
  color: $laboratory-mainTextColor;
}

#laboratory-ui {

  color: $laboratory-mainTextColor;
  background: $laboratory-background;

  #laboratory-header {

    color: $laboratory-headerTextColor;
    background-color: $laboratory-headerColor;

    #laboratory-composebutton {
      color: $laboratory-headerColor;
      background-color: $laboratory-headerTextColor;
    }

  }

  *.laboratory-column {

    background-color: $laboratory-columnColor;

    *.laboratory-heading {
      color: $laboratory-highlightTextColor;
      background-color: $laboratory-highlightColor;
    }

  }

  #laboratory-notifications {

    background-color: transparentize($laboratory-columnColor, $laboratory-notificationBgOpacity);

    *[data-laboratory-no_transparency] & {
      background-color: $laboratory-columnColor;
    }

    *.laboratory-heading {

      opacity: $laboratory-notificationTextOpacity;

      *[data-laboratory-no_transparency] & {
        opacity: 1;
      }

    }

  }

  a[href] {
    color: inherit;
  }

}
