#laboratory-ui {
  *.laboratory-column {
    display: block;
    position: relative;
    flex: 250pt 1 1;
    margin: 21pt 10pt 42pt;
    padding: 42pt 10pt 10.5pt;
    max-width: 300pt;
    min-width: 225pt;
    color: $laboratory-columnTextColor;
    background-color: transparentize($laboratory-columnColor, 1 - $laboratory-columnBackgroundOpacity);

    @media (max-width: 480px) {
      flex: none;
      margin: 7pt 5pt;
      padding-top: 52.5pt;
      width: calc(100vw - 30pt);
      max-width: none;
      min-width: 0;
    }

    *[data-laboratory-simple] & {
      padding-top: 10.5pt;
    }

    a[href] {
      color: $laboratory-columnAccentTextColor;

      &:hover {
        color: $laboratory-columnTextColor;
      }
    }
  }

  *.laboratory-heading {
    display: block;
    position: absolute;
    top: -10.5pt;
    left: -10pt;
    margin: 0;
    padding: 7pt 5pt 7pt;
    width: calc(100% - 10pt);
    height: 28pt;
    overflow: hidden;
    white-space: nowrap;
    color: $laboratory-columnHeadingTextColor;
    background-color: $laboratory-columnHeadingColor;
    font-size: 20pt;
    font-weight: 400;
    font-variant: small-caps;
    line-height: 28pt;
    text-overflow: ellipsis;

    @media (max-width: 480px) {
      top: 0;
      left: 0;
    }

    *[data-laboratory-simple] & {
      top: -20pt;
      left: -20pt;
      width: 32pt;
      color: $laboratory-columnHeadingColor;
      background: transparent;

      & *:not(:first-child) {
        display: none;
      }
    }

    i.fa:first-child {
      margin-right: 5pt;
      width: 32pt;
    }
  }

  *.laboratory-posts {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  *.laboratory-columnnav {
    display: block;
    padding: 21pt 0;

    a[href] {
      display: block;
      margin: 0 0 7pt;
      padding: 7pt 5pt 7pt;
      height: 28pt;
      overflow: hidden;
      white-space: nowrap;
      color: $laboratory-cardTextColor;
      background-color: $laboratory-cardColor;
      font-size: 20pt;
      font-weight: 400;
      line-height: 28pt;
      text-overflow: ellipsis;
      transition: margin .35s ease-in-out, color .35s, background-color .35s;

      &:hover {
        margin-left: 5pt;
        margin-right: -5pt;
        color: $laboratory-cardHighlightTextColor;
        background-color: $laboratory-cardHighlightColor;

        *[data-laboratory-reduce_motion] & {
          margin-left: 0;
          margin-right: 0;
          transition: none;
        }
      }

      i.fa:first-child {
        margin-right: 5pt;
        width: 32pt;
      }
    }
  }

  *.laboratory-columnfooter {
    display: block;
    font-size: 12pt;
    text-align: center;

    nav a[href] {
      display: inline-block;
      margin: 0 .5em;
    }
  }

  #laboratory-notifications {
    background-color: transparentize($laboratory-columnColor, 1 - $laboratory-notificationBackgroundOpacity);

    *[data-laboratory-no_transparency] & {
      background-color: $laboratory-columnColor;
    }

    *.laboratory-heading, *.laboratory-posts {
      opacity: $laboratory-notificationForegroundOpacity;

      *[data-laboratory-no_transparency] & {
        opacity: 1;
      }
    }
  }

  *.laboratory-status {
    display: block;
    margin: 0 0 7pt;
    padding: 7pt 5pt 7pt;
    overflow: hidden;
    color: $laboratory-cardTextColor;
    background-color: $laboratory-cardColor;
    text-overflow: ellipsis;
    transition: color .5s, background-color .5s;

    &.laboratory-status--highlighted {
      color: $laboratory-cardHighlightTextColor;
      background-color: $laboratory-cardHighlightColor;

      a[href] {
        color: $laboratory-cardHighlightAccentTextColor;

        &:hover {
          color: inherit;
        }
      }
    }

    a[href] {
      color: $laboratory-cardAccentTextColor;

      &:hover {
        color: inherit;
      }
    }

    aside {
      margin: -7pt -5pt 7pt;
      padding: 7pt 10pt;
      color: $laboratory-cardAsideTextColor;
      background-color: $laboratory-cardAsideColor;
      font-size: 12pt;
      font-weight: 300;

      &::after {
        content: ":"
      }

      a[href] {
        color: $laboratory-cardAsideAccentTextColor;

        &:hover {
          color: inherit;
        }
      }
    }

    header {
      margin: 0 0 7pt;

      time {
        float: right;
        font-size: 12pt;
        font-weight: 300;
      }
    }

    *.laboratory-idcard {
      font-size: 30pt;
      margin: 0 .2em 0 0;
    }

    footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      margin: 7pt -5pt -7pt;
      border-top: thin $laboratory-cardButtonBorderColor solid;
      padding: 0;
      overflow-x: auto;
      overflow-y: hidden;
      text-transform: uppercase;
      font-size: 11pt;

      *.laboratory-buttoncontainer {
        flex: auto;
        margin: 0;
        padding: 7pt 5pt;
        color: $laboratory-cardButtonTextColor;
        background-color: $laboratory-cardButtonColor;
        transition: color .5s, background-color .5s;

        *[data-reduce_motion] & {
          transition: none;
        }

        &:hover {
          color: $laboratory-cardButtonHoverTextColor;
          background-color: $laboratory-cardButtonHoverColor;
        }

        & + .laboratory-buttoncontainer {
          border-left: thin $laboratory-cardButtonBorderColor solid;
        }
      }

      *.laboratory-unboostbutton, *.laboratory-unhighlightbutton {
        color: $laboratory-cardButtonActiveTextColor;
        background-color: $laboratory-cardButtonActiveColor;

        &:hover {
          color: $laboratory-cardButtonActiveHoverTextColor;
          background-color: $laboratory-cardButtonActiveHoverColor;
        }
      }

      *.laboratory-noboostbutton, *.laboratory-noboostbutton:hover {
        color: inherit;
        background-color: transparent;
      }
    }
  }

  *.laboratory-statusContent {
    p {
      margin: 0;
      padding: 0 10pt;
      text-align: left;
      white-space: pre-wrap;
      hyphens: auto;

      & + p {
        text-indent: 15pt;
      }

      a[href] {
        hyphens: none;
        text-decoration: underline;
        text-decoration-style: dashed;
      }
    }
  }
}
