@import 'palettes';

/*
  This stylesheet assigns the default values to SCSS variables used by
  the Laboratory frontend. You can browse this file to gather a sense
  for what customizations are available.
*/

/*  FONTS  */

/*
  Including font files is outside of the scope of this package.
  You should do that yourself by editing the home view.
*/

$laboratory-sans: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif !default;
$laboratory-mono: "Inconsolata", "Courier Prime", monospace !default;

/*  BACKGROUNDS  */

/*
  These don't have to be plain colours if you don't want them to be.
*/

$laboratory-background: $print_dim !default;

/*  COLOURS  */

$laboratory-bgColor: $print_dim !default;
$laboratory-mainTextColor: $print_bright !default;
$laboratory-emphTextColor: $print_white !default;
$laboratory-highlightColor: $print_bright !default;
$laboratory-highlightTextColor: $print_black !default;
$laboratory-columnColor: $print_black !default;
$laboratory-headerColor: $print_white !default;
$laboratory-headerTextColor: $print_dim !default;

/*  OPACITIES  */

$laboratory-notificationBgOpacity: .35 !default;
$laboratory-notificationTextOpacity: .8 !default;
