@charset "UTF-8";

*:root:root:root:root:root [hidden] {
  display: none;
}

#laboratory-ui {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 42pt 0 0;
  overflow: auto;

  &:before, &:after {
    display: block;
    width: calc(50% - 510pt);  // 1020pt = 3 * width of column
  }

  #laboratory-header {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 31.5pt;
    margin: 0;
    padding: 5.25pt 30pt;
    white-space: nowrap;

    &:before, &:after {
      display: block;
      width: calc(50% - 495pt);  // 990pt = 3 * width of column - left padding (but not right)
    }

    h1 {
      display: inline;
      flex: auto;
      margin: 0 auto 0 0;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #laboratory-composelabel {

      display: block;
      flex: none;
      margin: 0;
      padding: 0;

      *[data-laboratory-simple] & {
        display: none;
      }

    }

    #laboratory-composebutton {
      display: block;
      flex: none;
      margin: 0 0 0 10pt;
      border: none;
      border-radius: 2.5pt;
      padding: 3.5pt 5pt;
      cursor: pointer;
    }

  }

  *.laboratory-column {

    display: block;
    position: relative;
    flex: auto;
    margin: 21pt 10pt 42pt;
    padding: 63pt 10pt 10.5pt;
    max-width: 300pt;
    min-width: 180pt;

    @media (max-width: 480px) {
      flex: none;
      margin: 7pt 5pt;
      width: calc(100vw - 30pt);
      max-width: none;
      min-width: 0;
    }

    *.laboratory-heading {

      display: block;
      position: absolute;
      top: -10.5pt;
      left: -10pt;
      margin: 0;
      padding: 3.5pt 5pt 7pt;
      height: 28pt;
      width: calc(100% - 10pt);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      *[data-laboratory-simple] & {
        width: 32pt;
      }

      i.fa:first-child {
        margin-right: 5pt;
        width: 32pt;
      }

    }

  }

}
