#laboratory-ui {
  #laboratory-module {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 100;

    &[data-laboratory-dismiss] {
      *[data-laboratory-reduce_motion] & {
        display: none;
      }

      #laboratory-curtain {
        animation: laboratorycurtainfadeout .5s both;

        *[data-laboratory-no_transparency] &, *[data-laboratory-reduce_motion] & {
          display: none;
          animation: none;
        }
      }

      main {
        animation: laboratorymodulefadeout .5s both;

        *[data-laboratory-no_transparency] &:not(#laboratory-composer),
        *[data-laboratory-reduce_motion] & {
          display: none;
          animation: none;
        }
      }

      #laboratory-composer {
        animation: laboratorymoduleslideout .5s ease-in both;

        *[data-laboratory-reduce_motion] & {
          animation: none;
        }
      }
    }

    a[href] {
      color: $laboratory-moduleAccentTextColor;
    }
  }

  #laboratory-curtain {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $laboratory-curtainColor;
    opacity: $laboratory-curtainOpacity;
    cursor: default;
    animation: laboratorycurtainfadein .5s both;
    z-index: 101;

    *[data-laboratory-no_transparency] & {
      opacity: 1;
      animation: none;
    }

    *[data-laboratory-reduce_motion] & {
      animation: none;
    }
  }

  main {
    display: block;
    position: relative;
    margin: 63pt auto;
    border-radius: 5pt;
    padding: 21pt;
    width: calc(100% - 42pt);
    max-width: 483pt;
    overflow: auto;
    color: $laboratory-moduleTextColor;
    background-color: $laboratory-moduleColor;
    box-shadow: 0 0 3.75pt -1.25pt $laboratory-moduleShadowColor;
    font-size: 18pt;
    font-weight: 300;
    line-height: 1.35;
    animation: laboratorymodulefadein .5s both;
    z-index: 200;

    @media (max-width: 480px) {
      margin: 21pt auto;
    }

    *[data-laboratory-no_transparency] & {
      animation: none;
    }

    *[data-laboratory-reduce_motion] & {
      animation: none;
    }

    aside {
      position: relative;
      margin: -21pt -21pt 0;
      border: none;
      border-bottom: thin $laboratory-moduleAsideBorderColor solid;
      padding: 21pt;
      font-size: 15pt;
      font-weight: 400;
      line-height: 1.4;
      color: $laboratory-moduleAsideTextColor;
      background: $laboratory-moduleAsideColor;
    }

    *:not(aside) ~ aside {
      margin: 0 -21pt -21pt;
      border: none;
      border-top: thin $laboratory-moduleAsideBorderColor solid;
      padding: 21pt
    }

    p {
      margin: 0;
      text-align: left;
      white-space: pre-wrap;

      & + p {
        margin-top: 24.3pt;
      }
    }
  }

  #laboratory-composer {
    animation: laboratorymoduleslidein .5s ease-in-out both;

    *[data-laboratory-reduce_motion] & {
      animation: none;
    }

    & > header {
      display: flex;
      margin: 0 0 9pt;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      *.laboratory-idcard {
        margin: 0 auto 0 0;
        font-size: 37.5pt;
      }
    }

    & > footer {
      display: flex;
      margin: 9pt 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
    }

    *.laboratory-button {
      font-size: inherit;
    }
  }

  #laboratory-composertextbox {
    height: 128pt;

    @media (max-width: 480px) {
      height: 84pt;
    }
  }

  #laboratory-composeroptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    min-height: 84pt;

    *[data-laboratory-simple] & {
      display: block;
      text-align: center;
    }

    @media (max-width: 480px) {
      display: block;
      text-align: center;
    }
  }

  #laboratory-postoptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: auto;
    padding-right: 21pt;
    width: calc(50% - 42pt);

    @media (max-width: 480px) {
      display: block;
      padding-bottom: 10.5pt;
      padding-right: 0;
      width: auto;
    }

    *[data-laboratory-simple] & {
      display: inline;
      padding: 0;
      width: auto;
      text-align: center;
    }
  }

  #laboratory-hideoptions {
    display: block;
    flex: auto;
    border-left: thin $laboratory-moduleAsideBorderColor solid;
    padding-left: 21pt;
    width: calc(50% - 42pt);

    @media (max-width: 480px) {
      display: block;
      border-top: thin $laboratory-moduleAsideBorderColor solid;
      border-left: none;
      padding-top: 10.5pt;
      padding-left: 0;
      width: auto;
    }

    *[data-laboratory-simple] & {
      display: inline;
      border: none;
      padding: 0;
      width: auto;
    }

    & > input[type="text"] {
      display: block;
      margin: 10.5pt 0;
      border: thin $laboratory-composerMessageBorderColor solid;
      padding: 0 7.5pt;
      width: calc(100% - 15pt);
      height: 0;
      overflow: auto;
      resize: none;
      color: $laboratory-composerMessageTextColor;
      background-color: $laboratory-composerMessageColor;
      font-family: inherit;
      font-size: inherit;
      font-weight: 400;
      line-height: inherit;
      text-align: left;
      visibility: hidden;
      opacity: 0;
      transition: padding .5s, height .5s, visibility .5s, opacity .5s ease-in;

      *[data-laboratory-reduce_motion] & {
        transition: none;
      }
    }

    & > *.laboratory-toggle--checked ~ input[type="text"] {
      padding: 5.25pt 7.5pt;
      height: 21pt;
      visibility: visible;
      opacity: 1;
    }
  }

  #laboratory-account {
    @media (max-width: 480px) {
      text-align: center;
    }

    header {
      display: block;
      margin: -21pt -21pt 0;
      padding: 0;
      height: 126pt;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: $laboratory-moduleAsideColor;
    }

    *.laboratory-idcard {
      margin: .2em 0 .4em;
      font-size: 42pt;

      *.laboratory-avatar {
        margin: -1em .25em 0 0;
        height: 2em;
        width: 2em;
      }
    }

    *.laboratory-buttoncontainer {
      float: right;
      margin: 9pt 0;

      @media (max-width: 480px) {
        float: none;
        font-size: 15pt;
      }
    }

    footer {
      display: block;
      margin: 9pt -21pt -21pt;
      border-top: thin $laboratory-moduleBorderColor solid;
      padding: 9pt;
      color: $laboratory-accountFooterTextColor;
      background: $laboratory-accountFooterColor;

      @media (max-width: 480px) {
        padding: 9pt 0;
      }

      table {
        margin: 0;
        border: 0;
        border-collapse: collapse;
        padding: 0;
        width: 100%;
        font-size: 15pt;
        line-height: 1.4;
        text-align: right;

        tr {
          margin: 0;
          border: none;
          padding: 0
        }

        td {
          margin: 0;
          border: none;
          padding: 0 27pt;

          @media (max-width: 480px) {
            padding: 0 9pt;
          }

          & + td {
            border-left: thin $laboratory-moduleBorderColor solid;
          }

          b {
            display: block;
            font-size: 21pt;
            line-height: 1;
          }
        }
      }
    }
  }
}

@keyframes laboratorycurtainfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: $laboratory-curtainOpacity;
  }
}

@keyframes laboratorycurtainfadeout {
  from {
    opacity: $laboratory-curtainOpacity;
  }
  to {
    opacity: 0;
  }
}

@keyframes laboratorymodulefadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes laboratorymodulefadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes laboratorymoduleslidein {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
@keyframes laboratorymoduleslideout {
  from {
    bottom: 0;
  }
  20% {
    bottom: -42pt;
  }
  to {
    bottom: 150vh;
  }
}
