@charset "UTF-8";

*:root:root:root:root:root [hidden] {
  display: none;
}

html, body {
  display: block;
  margin: 0;
  padding: 0;
  background-color: $laboratory-backgroundColor;
  font-family: $laboratory-sans;
  font-size: 15pt;
  font-style: normal;
  font-weight: normal;
  font-synthesis: none;
  line-height: 1.4;
}

#laboratory-ui {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  margin: 0;
  padding: 42pt 0 0;
  height: calc(100vh - 42pt);
  background: $laboratory-background;
  font-family: $laboratory-sans;
  font-size: 15pt;
  font-style: normal;
  font-weight: normal;
  font-synthesis: none;
  line-height: 1.4;

  &:before, &:after {  //  Used for centering
    display: block;
    width: calc(50% - 510pt);  //  1020pt = 3 * width of column
    content: "";
  }

  a[href] {
    color: inherit;
    text-decoration: none;
    transition: color .35s;

    *[data-laboratory-reduce_motion] & {
      transition: none;
    }
  }

  code, pre {
    font-family: $laboratory-mono;
  }

  label {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: small-caps;

    & > span {
      overflow: hidden;
      text-overflow: ellipsis;

      *[data-laboratory-simple] &, &:empty {
        display: none;
      }
    }
  }

  *.laboratory-idcard {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .2em .4em;
    padding: 0;
    height: 1em;
    font-size: 1.2em;
    font-weight: 400;

    a[href] {
      color: inherit;

      :root:root:root & {
        color: inherit;
      }
    }
  }

  *.laboratory-avatar {
    display: block;
    margin: 0 .2em 0;
    border-radius: .1em;
    height: 1em;
    width: 1em;
  }

  *.laboratory-displayname {
    display: block;
    font-size: .4em;
    font-weight: 700;
    line-height: 1.2;

    &:empty {
      text-align: center;

      &::after {
        content: "———";
      }
    }
  }

  *.laboratory-username {
    display: block;
    font-family: $laboratory-mono;
    font-size: .4em;
    font-weight: 400;
    line-height: 1;

    &::before {
      opacity: $laboratory-leadingCommAtOpacity;
      content: "@";
    }
  }

  *.laboratory-buttoncontainer {
    cursor: pointer;

    &.laboratory-buttoncontainer--disabled {
      cursor: not-allowed;
    }
  }

  *.laboratory-button {
    display: inline-block;
    flex: none;
    margin: 0 .4em;
    border: none;
    border-radius: .125em;
    padding: .2em .25em;
    color: $laboratory-buttonTextColor;
    background-color: $laboratory-buttonColor;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    transition: color .5s, background-color .5s;

    &:hover {
      color: $laboratory-buttonHoverTextColor;
      background-color: $laboratory-buttonHoverColor;
    }

    &[disabled], &[disabled]:hover {
      margin: -1px calc(.4em - 1px);
      border: 1px $laboratory-buttonColor solid;
      color: inherit;
      background-color: transparent;
      cursor: not-allowed;
    }

    *[data-laboratory-reduce_motion] & {
      transition: none;
    }

    &.laboratory-button--minimal {
      margin: 0 -.5em 0 .25em;
      padding: .1em .125em;
      color: inherit;
      background-color: transparent;

      &[disabled] {
        margin: 0 .2em;
        border: none;
        cursor: not-allowed;
      }
    }
  }

  *.laboratory-textbox {
    position: relative;
    margin: 0;
    border: thin $laboratory-textboxBorderColor solid;
    border-radius: 7pt;
    padding: 12.15pt 18pt;
    outline: none;
    box-shadow: none;
    overflow: auto;
    resize: none;
    color: $laboratory-textboxTextColor;
    background-color: $laboratory-textboxColor;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    white-space: pre-wrap;
    appearance: none;
  }

  *.laboratory-textbox[aria-label]::before {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    opacity: 0;
    color: $laboratory-textboxPlaceholderColor;
    font-weight: 300;
    text-align: center;
    user-select: none;
    pointer-events: none;
    transition: opacity .25s;
    content: attr(aria-label);

    &.laboratory-textbox--empty:not(:focus) {
      opacity: 1;
    }
  }

  *.laboratory-toggle {
    margin: 0 .5em;
    border: 0;
    padding: 0;
    font-size: inherit;
    line-height: 1.4;
    cursor: pointer;
  }

  *.laboratory-toggle-label {
    flex: auto;
    margin: 0 .5em;
    width: calc(50% - 2em);
    font-variant: small-caps;
    transition: opacity .25s;

    *[data-laboratory-reduce_motion] & {
      transition: none;
    }
  }

  *.laboratory-toggle-label-off {
    text-align: right;
    opacity: 1;
  }

  *.laboratory-toggle-label-on {
    text-align: left;
    opacity: $laboratory-toggleInactiveOpacity;
  }

  *.laboratory-toggle--checked {
    *.laboratory-toggle-label-off {
      opacity: $laboratory-toggleInactiveOpacity;
    }

    *.laboratory-toggle-label-on {
      opacity: 1;
    }
  }

  *.laboratory-toggle--disabled, *.laboratory-toggle--checked.laboratory-toggle--disabled {
    cursor: not-allowed;

    *.laboratory-toggle-label {
      opacity: $laboratory-toggleInactiveOpacity;
    }

    *.laboratory-toggle-track, *.laboratory-toggle-thumb {
      background: transparent;
      transition: background-color 0.25s;

      *[data-laboratory-reduce_motion] & {
        transition: none;
      }
    }
  }

  .laboratory-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  *.laboratory-toggle-track {
    display: inline-block;
    flex: none;
    position: relative;
    margin: .15em 0;
    width: 2em;
    height: 1em;
    padding: 0;
    border: 1px $laboratory-toggleOffColor solid;
    border-radius: .5em;
    color: $laboratory-toggleForegroundOffColor;
    background-color: $laboratory-toggleOffColor;
    font-size: 1.2em;
    line-height: 1;
    user-select: none;
    transition: all 0.25s ease;

    *[data-laboratory-reduce_motion] & {
      transition: none;
    }
  }

  *.laboratory-toggle:hover:not(.laboratory-toggle--disabled) *.laboratory-toggle-track, *.laboratory-toggle.laboratory-toggle--focus *.laboratory-toggle-track {
    background-color: $laboratory-toggleHoverOffColor;

    *[data-laboratory-reduce_motion] & {
      background-color: $laboratory-toggleOffColor;
    }
  }

  *.laboratory-toggle--checked *.laboratory-toggle-track {
    border-color: $laboratory-toggleOnColor;
    color: $laboratory-toggleForegroundOnColor;
    background-color: $laboratory-toggleOnColor;
  }

  *.laboratory-toggle.laboratory-toggle--checked:hover:not(.laboratory-toggle--disabled) *.laboratory-toggle-track, *.laboratory-toggle.laboratory-toggle--checked.laboratory-toggle--focus *.laboratory-toggle-track {
    background-color: $laboratory-toggleHoverOnColor;

    *[data-laboratory-reduce_motion] & {
      background-color: $laboratory-toggleOnColor;
    }
  }

  *.laboratory-toggle-track-check {
    position: absolute;
    height: 1em;
    top: 0;
    bottom: 0;
    left: .1875em;
    margin: auto;
    font-size: .675em;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.25s ease;

    *[data-laboratory-reduce_motion] & {
      transition: none;
    }
  }

  *.laboratory-toggle--checked *.laboratory-toggle-track-check {
    opacity: 1;
  }

  *.laboratory-toggle-track-x {
    position: absolute;
    height: 1em;
    top: 0;
    bottom: 0;
    right: .1875em;
    margin: auto;
    font-size: .675em;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.25s ease;

    *[data-laboratory-reduce_motion] & {
      transition: none;
    }
  }

  *.laboratory-toggle--checked *.laboratory-toggle-track-x {
    opacity: 0;
  }

  *.laboratory-toggle-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    border: thin solid;
    border-color: inherit;
    border-radius: .5em;
    background-color: $laboratory-toggleForegroundOffColor;
    box-sizing: border-box;
    transition: all 0.25s ease;

    *[data-laboratory-reduce_motion] & {
      transition: none;
    }
  }

  *.laboratory-toggle--checked *.laboratory-toggle-thumb {
    left: 1em;
    background-color: $laboratory-toggleForegroundOnColor;
  }
}
